{port_specs, [
    {"priv/resizerl", ["c_src/erl_comm.c", "c_src/main.c"]}]}.
{port_env, [
             {"CFLAGS", "$CFLAGS -g"},
             %% Make sure to set -I/-L where OpenCV is installed(ex. /usr/local/(include|lib))
             {"EXE_CFLAGS", "$EXE_CFLAGS -Wall -Ic_src/ -I/usr/local/include"},
             %% Asuming that OpenCV modules needed to resize images are installed(core, imgproc, highgui)
             {"EXE_LDFLAGS", "$EXE_LDFLAGS -L/usr/local/lib -lopencv_core -lopencv_imgproc -lopencv_highgui"}
             ]}.

