%{so_name, "resizerl.so"}.

%{port_sources, ["c_src/*.c"]}.

%%%{port_envs, [
%%%             {"CFLAGS", "$CFLAGS -g"},
%%%             %% Make sure to set -I/-L where OpenCV is installed(ex. /usr/local/(include|lib))
%%%             {"DRV_CFLAGS", "$DRV_CFLAGS -Wall -Ic_src/ -I/usr/local/include"},
%%%             %% Asuming that OpenCV modules needed to resize images are installed(core, imgproc, highgui)
%%%             {"DRV_LDFLAGS", "$DRV_LDFLAGS -L/usr/local/lib -lopencv_core -lopencv_imgproc -lopencv_highgui"}
%%%             ]}.

{post_hooks, [{compile, "./build.sh"}]}.
